In [1]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv('ml-1m.inter',sep = '\t')

In [26]:
sum(data['rating:float']>3)

575281

In [3]:
data2 = data.groupby('user_id:token')

In [4]:
sum(data2.size()>70)

3598

In [22]:
data2 = data.groupby('user_id:token')
old_user_dict = data2.size().to_dict()
old_user = np.array([False]*6041)
for k,v in old_user_dict.items():
    if v > 200:
        old_user[k]=True

data3 = data.groupby('item_id:token')
# newd 没有了
olditem = np.array([False]*3953)
for k,v in data3.size().to_dict().items():
    if v > 200:
        olditem[k]=True


d = data.to_numpy()
newdata = old_user[d[:,0]] & olditem[d[:,1]]

In [23]:
sum(newdata)

545014

In [16]:
sum(newdata)

790782

In [18]:
sum(newdata)

894774

In [6]:
data[newdata].to_csv('ml-1m.newinter',sep='\t',index=None)

In [7]:
new_data = data[newdata].sample(frac=1)

In [8]:
new_data[:700000].to_csv('ml-1m_train.newinter',sep='\t',index=None)

In [9]:
new_data[700000:].to_csv('ml-1m_valid.newinter',sep='\t',index=None)

In [10]:
~newdata

array([False, False, False, ..., False, False, False])

In [11]:
n_data = data[~newdata].sample(frac=1)

In [12]:
n_data.to_csv('ml-1m_test.newinter',sep='\t',index=None)

In [13]:
n_data

        user_id:token  item_id:token  rating:float  timestamp:float
516199           3188           3408             4        968673554
735762           4393           2858             5        965159095
467568           2881           2931             4        972260187
829495           4980            811             4        963980798
568505           3488           1391             1        967051033
...               ...            ...           ...              ...
266975           1622           1961             4        974725897
297481           1764           1168             4        974702365
531582           3282           1193             5        968161096
866832           5228            356             5        961472051
639759           3846           1144             3        965885449

[29994 rows x 4 columns]